---
import { Image } from 'astro:assets';
import Layout from '../layouts/Layout.astro';

import main1 from '../assets/illustration/01.jpg';
import main2 from '../assets/illustration/02.jpg';
import main3 from '../assets/illustration/03.jpg';
import main4 from '../assets/illustration/04.jpg';
import main5 from '../assets/illustration/05.jpg';
import main6 from '../assets/illustration/06.jpg';
import main7 from '../assets/illustration/07.jpg';
import main8 from '../assets/illustration/08.jpg';
import main9 from '../assets/illustration/09.jpg';
import main10 from '../assets/illustration/10.jpg';
import main11 from '../assets/illustration/11.jpg';
import main12 from '../assets/illustration/12.jpg';
import main13 from '../assets/illustration/13.jpg';
import main14 from '../assets/illustration/14.jpg';
import main15 from '../assets/illustration/15.jpg';
import main16 from '../assets/illustration/16.jpg';
import main17 from '../assets/illustration/17.jpg';
import main18 from '../assets/illustration/18.jpg';
import main19 from '../assets/illustration/19.jpg';
import main20 from '../assets/illustration/20.jpg';
import main21 from '../assets/illustration/21.jpg';
import thumb1 from '../assets/illustration/01t.jpg';
import thumb2 from '../assets/illustration/02t.jpg';
import thumb3 from '../assets/illustration/03t.jpg';
import thumb4 from '../assets/illustration/04t.jpg';
import thumb5 from '../assets/illustration/05t.jpg';
import thumb6 from '../assets/illustration/06t.jpg';
import thumb7 from '../assets/illustration/07t.jpg';
import thumb8 from '../assets/illustration/08t.jpg';
import thumb9 from '../assets/illustration/09t.jpg';
import thumb10 from '../assets/illustration/10t.jpg';
import thumb11 from '../assets/illustration/11t.jpg';
import thumb12 from '../assets/illustration/12t.jpg';
import thumb13 from '../assets/illustration/13t.jpg';
import thumb14 from '../assets/illustration/14t.jpg';
import thumb15 from '../assets/illustration/15t.jpg';
import thumb16 from '../assets/illustration/16t.jpg';
import thumb17 from '../assets/illustration/17t.jpg';
import thumb18 from '../assets/illustration/18t.jpg';
import thumb19 from '../assets/illustration/19t.jpg';
import thumb20 from '../assets/illustration/20t.jpg';
import thumb21 from '../assets/illustration/21t.jpg';
---
<Layout>
  <div class="wrap">
    <div class="thumbs">
      <button class="button" id="01">
        <Image src={thumb1} alt="thumb 1" />
      </button>
      <button class="button" id="02">
        <Image src={thumb2} alt="thumb 2" />
      </button>
      <button class="button" id="03">
        <Image src={thumb3} alt="thumb 3" />
      </button>
      <button class="button" id="04">
        <Image src={thumb4} alt="thumb 4" />
      </button>
      <button class="button" id="05">
        <Image src={thumb5} alt="thumb 5" />
      </button>
      <button class="button" id="06">
        <Image src={thumb6} alt="thumb 6" />
      </button>
      <button class="button" id="07">
        <Image src={thumb7} alt="thumb 7" />
      </button>
      <button class="button" id="08">
        <Image src={thumb8} alt="thumb 8" />
      </button>
      <button class="button" id="09">
        <Image src={thumb9} alt="thumb 9" />
      </button>
      <button class="button" id="10">
        <Image src={thumb10} alt="thumb 10" />
      </button>
      <button class="button" id="11">
        <Image src={thumb11} alt="thumb 11" />
      </button>
      <button class="button" id="12">
        <Image src={thumb12} alt="thumb 12" />
      </button>
      <button class="button" id="13">
        <Image src={thumb13} alt="thumb 13" />
      </button>
      <button class="button" id="14">
        <Image src={thumb14} alt="thumb 14" />
      </button>
      <button class="button" id="15">
        <Image src={thumb15} alt="thumb 15" />
      </button>
      <button class="button" id="16">
        <Image src={thumb16} alt="thumb 16" />
      </button>
      <button class="button" id="17">
        <Image src={thumb17} alt="thumb 17" />
      </button>
      <button class="button" id="18">
        <Image src={thumb18} alt="thumb 18" />
      </button>
      <button class="button" id="019">
        <Image src={thumb19} alt="thumb 19" />
      </button>
      <button class="button" id="20">
        <Image src={thumb20} alt="thumb 20" />
      </button>
      <button class="button" id="21">
        <Image src={thumb21} alt="thumb 21" />
      </button>
    </div>
    <div>
      <Image src={main1} alt="" />
    </div>
  </div>
</Layout>

<script>
  const thumbs = document.querySelectorAll('.button');
  const img = document.getElementById('hero');

  thumbs.forEach(thumb => {
    thumb.addEventListener('click', () => {
      img = thumb.querySelector('img').src.replace('t.jpg', '.jpg');
    });
  });
</script>

<style>
  .wrap {
    display: flex;
    width: 100%;
    height: 615px;
    gap: 6px;
  }
  .thumbs {
    display: grid;
    overflow: scroll;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 6px;
  }
  .button {
    border: 0;
    padding: 0;
    background: none;
    cursor: pointer;
  }
  .button img {
    display: block;
  }
    
  img {
    width: 100%;
  }
</style>